omc4py/session/interface/omc_interface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="omcInterface" type="OmcInterface"/>

  <xsd:complexType name="OmcInterface">
    <xsd:sequence>
      <xsd:element name="package" type="ModelicaPackage"/>
    </xsd:sequence>
    <xsd:attribute name="omcVersion" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="ModelicaPackage">
  </xsd:complexType>

</xsd:schema>
